.button {
    background-color: $primaryColor;
    border-radius: 300px;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
    font-family: $fontFamily;
    font-weight: 600;
    cursor: pointer;
    .button__link {
        color: white;
        text-decoration: none;
    }
}