.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    position: relative;
    z-index: 2;
    .card-background{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        .card__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card-filter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 0 10px;
        box-sizing: border-box;
        .card__title {
            font-size: 24px;
            color: $primaryColor;
            font-weight: bold;
        }
        .card__paragraph {
            font-size: 14px;
            color: $whiteColor;
            font-weight: bold;
        }
        .button {
            margin-top: 50px;
            font-size: 20px;
        }
    }
}