.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackColor;
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: $maxPageWidth;
    }
}