.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blackColor;
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: $maxPageWidth;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: $textBlackColor;
        .footer-text{
            font-size: 16px;
            font-family: $fontFamily;
        }
    }
}