.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $blackColor;
    position: relative;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: $maxPageWidth;
        height: 100%;
        .gallery-container{
            overflow-x: hidden;
            width: $maxPageWidth;
            .list {
                display: grid;
                grid-template-columns: repeat(9, 420px);
                grid-template-rows: repeat(2, 420px);
                gap: 16px;
                padding: 0;
                .gallery__item {
                    .gallery__image{
                        width: 420px;
                        height: 420px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .gallery-section{
        .gallery-container{
            flex-direction: column;
            gap: 10px;
        }
    }
}