.gallery-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $blackColor;
    position: relative;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: $maxPageWidth;
        height: 100%;
        .gallery-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: $maxPageWidth;
            gap: 16px;
            .gallery-img{
                width: 356px;
                height: 356px;
                object-fit: cover;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .gallery-section{
        .gallery-container{
            flex-direction: column;
            gap: 10px;
        }
    }
}