.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    padding: 100px;
    background-color: $secundaryBlackColor;
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 100%;
        max-width: $maxPageWidth;
    }   
}