.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: $maxPageWidth;
        height: 100%;
        padding: 100px 20px;
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 50px;
            .plan {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                max-width: 350px;
                height: 100%;
                padding: 20px 40px;
                box-sizing: border-box;
                background-color: #1F2025;
                .header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .fa-solid {
                        color: $primaryColor;
                    }
                    .header__subtitle-color {
                        color: $primaryColor;
                    }
                }
                .list {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 0;
                    list-style: none;
                    .list__item {
                        display: flex;
                        gap: 20px;
                        font-size: 16px;
                        .fa-solid {
                            color: $primaryColor;
                        }
                        .list__text {
                            color: $textColor;
                        }
                    }
                }
            }
        }
    }
    .figureGray {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}