.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    .row-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: $maxPageWidth;
        position: relative;
        z-index: 1;
        .figure {
            width: 100%;
            max-width: 626px;
        }
        .info {
            color: $whiteColor;
            width: 100%;
            max-width: 600px;
            text-align: center;
            .row-card__title {
                text-transform: uppercase;
                font-style: italic;
                font-weight: 800;
                margin-bottom: 50px;
                @include fluid-type(font-size, 600px, 1200px, 20px, 40px);
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 1226px) {
    .home {
        .welcome {
            .row-card {
                justify-content: center;
                padding: 0 20px;
                .figure {
                    width: 70%;
                    max-width: 400px;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .home {
        .welcome {
            .row-card {
                flex-direction: column;
            }
        }
    }
}