.nf-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 94vh;
    background-color: $blackColor;
    
    .nf__description{
        color: $textBlackColor;
        font-size: 18px;
    }
}