@font-face {
    src: local("./fonts/MerriweatherSans-Light.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 300;
}
@font-face {
    src: local("./fonts/MerriweatherSans-LightItalic.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 300;
    font-style: italic;
}
@font-face {
    src: local("./fonts/MerriweatherSans-Regular.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 400;
}
@font-face {
    src: local("./fonts/MerriweatherSans-RegularItalic.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 400;
    font-style: italic;
}
@font-face {
    src: local("./fonts/MerriweatherSans-Medium.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 500;
}
@font-face {
    src: local("./fonts/MerriweatherSans-MediumItalic.ttf") format("truetype");
    font-family: $fontFamily;
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: $fontFamily;
    src: local("./fonts/MerriweatherSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}