$primaryColor: #F77B05;
$secundaryColor: #C92D0B;
$blackColor: #242A35;
$whiteColor: #FFFFFF;
$textColor: #D1D2D0;
$textBlackColor: #60636C;
$maxSectionWidth: 1300px;
$fontFamily: "MerriweatherSans";
