@font-face {
  src: local("./fonts/MerriweatherSans-Light.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
}

@font-face {
  src: local("./fonts/MerriweatherSans-LightItalic.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: local("./fonts/MerriweatherSans-Regular.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
}

@font-face {
  src: local("./fonts/MerriweatherSans-RegularItalic.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: local("./fonts/MerriweatherSans-Medium.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
}

@font-face {
  src: local("./fonts/MerriweatherSans-MediumItalic.ttf") format("truetype");
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Merriweather Sans", sans-serif;
  src: local("./fonts/MerriweatherSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
}

html*, html *::before, html *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html body {
  margin: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
}

html body #root {
  height: 100%;
}

html body .app {
  position: relative;
}

html body .app .text-white {
  color: #FFFFFF;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 74vh;
  background-color: #242A35;
  padding: 100px 0;
}

.not-found .not-found__description {
  color: #60636C;
  font-size: 18px;
  margin: 30px;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.welcome .row-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 1;
}

.welcome .row-card .figure {
  width: 100%;
  max-width: 626px;
}

.welcome .row-card .info {
  color: #FFFFFF;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.welcome .row-card .info .row-card__title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .welcome .row-card .info .row-card__title {
    font-size: calc(20px + 20 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .welcome .row-card .info .row-card__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1226px) {
  .home .welcome .row-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
  }
  .home .welcome .row-card .figure {
    width: 70%;
    max-width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .home .welcome .row-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  width: 100%;
  height: 100%;
  padding: 100px;
  background-color: #0F141C;
  position: relative;
}

.activities .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  width: 100%;
  max-width: 1300px;
  position: relative;
  z-index: 1;
}

.activities .activities__image {
  position: absolute;
  top: 50;
  left: 10%;
  z-index: 0;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .activities {
    padding: 0;
  }
}

.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.plans .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  padding: 100px;
}

.plans .content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.plans .content .cards .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1F2025;
}

.plans .content .cards .plan .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plans .content .cards .plan .header .fa-solid {
  color: #F77B05;
}

.plans .content .cards .plan .header .header__subtitle-color {
  color: #F77B05;
}

.plans .content .cards .plan .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.plans .content .cards .plan .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 16px;
}

.plans .content .cards .plan .list .list__item .fa-solid {
  color: #F77B05;
}

.plans .content .cards .plan .list .list__item .list__text {
  color: #D1D2D0;
}

.plans .figureGray {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  -webkit-column-gap: 200px;
          column-gap: 200px;
  row-gap: 50px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: #D1D2D0;
}

.contact .content .info .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact .content .info .list .list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.contact .content .info .list .list__item .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 18px;
}

.contact .content .info .list .list__item .header .fa-solid {
  color: #F77B05;
}

.contact .content .info .list .list__item .header .list__title {
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
}

.contact .content .contact__map {
  width: 600px;
  height: 400px;
  border: 0;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.home .scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.home .complementary {
  background: #232935;
  background: -webkit-gradient(linear, left top, left bottom, from(#232935), to(#1f2025));
  background: linear-gradient(180deg, #232935 0%, #1f2025 100%);
  width: 100%;
  height: 100%;
}

.classes-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #242A35;
  padding: 100px 0;
}

.classes-section .classes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  width: 100%;
  height: 100%;
}

.classes-section .classes-container .classes-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.classes-section .classes-container .classes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.classes-section .classes-container .classes-content .classes-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #242A35;
  padding-top: 150px;
}

.class .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
}

.class .container .class-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.class .container .class-header .button {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.class .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  height: 100%;
}

.class .container .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.class .container .content .info .info__description {
  color: #D1D2D0;
  text-align: left;
  font-size: 20px;
  max-width: 600px;
}

.class .container .content .info .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #FFFFFF;
  font-size: 20px;
  width: 100%;
}

.class .container .content .info .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 40px;
}

@media screen and (min-width: 600px) {
  .class .container .content .info .features .feature {
    font-size: calc(40px + 10 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .class .container .content .info .features .feature {
    font-size: 50px;
  }
}

.class .container .content .info .features .feature .feature__text {
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 900;
}

@media screen and (min-width: 600px) {
  .class .container .content .info .features .feature .feature__text {
    font-size: calc(15px + 5 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .class .container .content .info .features .feature .feature__text {
    font-size: 20px;
  }
}

.class .container .content .info .features .feature i {
  color: #F77B05;
}

.class .container .content .image-container {
  width: 100%;
  max-width: 400px;
  height: 500px;
  border-radius: 10px;
}

.class .container .content .image-container .class__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.class .container .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 20px 0;
}

@media screen and (min-width: 320px) and (max-width: 1050px) {
  .class {
    padding: 150px 20px;
    padding-bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .class .container .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .class .container .content .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.schedule-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 100px 0;
  background-color: #242A35;
}

.schedule-section .schedule-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.schedule-section .schedule-container .schedule-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.schedule-section .schedule-container .schedule-header .header .header__subtitle {
  text-align: left;
}

.schedule-section .schedule-container .schedule-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .schedule-section {
    padding: 150px 20px;
    padding-bottom: 100px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  background-color: #242A35;
}

.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1300px;
  width: 100%;
  height: 100%;
}

.about .about-container .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.about .about-container .about-header .about-left {
  width: 100%;
  max-width: 600px;
  height: 100%;
  position: relative;
}

.about .about-container .about-header .about-left .about__image {
  width: 100%;
  height: 100%;
}

.about .about-container .about-header .about-left .about__image--front {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 600px;
}

.about .about-container .about-header .about-right {
  width: 100%;
  max-width: 630px;
  height: 100%;
}

.about .about-container .about-header .about-right .about__description {
  color: #D1D2D0;
  font-size: 18px;
}

.about .about-container .about-header .about-right .header {
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .about .about-container .about-header .about-right .header {
    font-size: calc(20px + 10 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .about .about-container .about-header .about-right .header {
    font-size: 30px;
  }
}

.about .about-container .about-header .about-right .header .header__subtitle {
  font-size: 20px;
  color: #D1D2D0;
  font-weight: 600;
}

.about .about-container .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.about .about-container .about-content .header {
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  .about .about-container .about-content .header {
    font-size: calc(20px + 10 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .about .about-container .about-content .header {
    font-size: 30px;
  }
}

.about .about-container .about-content .about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .about .about-container {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.contact {
  width: 100%;
  height: 100%;
  background-color: #242A35;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1300px;
}

.contact .content .header .header__title {
  font-size: 30px;
}

@media screen and (min-width: 600px) {
  .contact .content .header .header__title {
    font-size: calc(30px + 10 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .contact .content .header .header__title {
    font-size: 40px;
  }
}

.contact .content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact .content .data .addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  list-style: none;
  padding: 0;
}

.contact .content .data .addresses .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.contact .content .data .addresses .address .header .header__subtitle {
  margin: 0;
}

.contact .content .data .addresses .address .address-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #FFFFFF;
  font-size: 16px;
}

.contact .content .data .addresses .address .address-info i {
  color: #F77B05;
  font-size: 20px;
}

.contact .content .data .addresses .address .address-info .address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

.contact .content .data .form {
  width: 400px;
  height: 500px;
}

.contact .content .map {
  width: 100%;
  height: 400px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background-color: #242A35;
  position: relative;
  overflow-x: hidden;
}

.gallery .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery .content .gallery-container {
  width: 100%;
}

.gallery .content .gallery-container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.gallery .content .gallery-container .list .gallery__item .gallery__image {
  width: 100%;
  max-width: 420px;
  height: 100%;
  max-height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .gallery .content {
    padding: 0 20px;
  }
}

.button {
  background-color: #F77B05;
  border-radius: 300px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (min-width: 600px) {
  .button {
    font-size: calc(20px + 10 * (100vw - 600px) / 600);
  }
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 30px;
  }
}

.button:hover {
  background-color: #C82D0B;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #242A35;
  text-align: center;
}

.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1300px;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #60636C;
}

.footer .footer-container .footer-text {
  font-size: 16px;
  font-family: "Merriweather Sans", sans-serif;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
  position: relative;
  z-index: 2;
}

.card .card-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card .card-background .card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card .card-content .card__title {
  font-size: 24px;
  color: #F77B05;
  font-weight: bold;
}

.card .card-content .card__paragraph {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
}

.card .card-content .button {
  margin-top: 50px;
  font-size: 20px;
}

.divisor-line {
  width: 100%;
  height: 100px;
  background: #0f141c;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.268);
}

.navbar.active {
  background-color: #242A35;
  -webkit-box-shadow: 0 0px 20px 10px #00000031;
          box-shadow: 0 0px 20px 10px #00000031;
}

.navbar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1300px;
}

.navbar .content .logo {
  width: 50px;
  height: auto;
}

.navbar .content .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar .content .list .list__item--home {
  cursor: pointer;
  position: relative;
}

.navbar .content .list .list__item--home:hover {
  color: #F77B05;
}

.navbar .content .list .list__item--home:hover .hover-container {
  display: inline-block;
}

.navbar .content .list .list__item--home:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .content .list .list__item--home .home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.navbar .content .list .list__item--home .hover-container {
  display: none;
  position: absolute;
  top: 15px;
  left: -30px;
  height: 270px;
  width: 230px;
}

.navbar .content .list .list__item--home .hover-container:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .content .list .list__item--home .dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 40px;
  background-color: #0F141C;
  width: 200px;
  color: #FFFFFF;
}

.navbar .content .list .list__item--home .dropdown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .content .list .list__item--home .dropdown .dropdown__link {
  cursor: pointer;
}

.navbar .content .list .list__item--home .dropdown .dropdown__link:hover {
  color: #F77B05;
}

.navbar .content .list .list__link {
  text-decoration: none;
  color: #FFFFFF;
}

.navbar .content .list .list__link:hover {
  color: #F77B05;
}

.navbar .content .list .list__link .list__item {
  cursor: pointer;
}

.navbar .content .navbar__button {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .navbar .content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  .navbar .content .list {
    display: none;
  }
  .navbar .content .list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    background-color: #242A35;
    -webkit-box-shadow: 0 0px 20px 10px #00000031;
            box-shadow: 0 0px 20px 10px #00000031;
  }
  .navbar .content .navbar__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 300px;
    background-color: #14171a00;
    border: none;
    cursor: pointer;
  }
  .navbar .content .navbar__button .fas {
    color: #F77B05;
    font-size: 30px;
  }
}

.header {
  color: #FFFFFF;
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}

.header .header__title .header__title--color {
  color: #F77B05;
}

.header .header__subtitle {
  color: #D1D2D0;
}

.header .header__subtitle .header__subtitle--color {
  color: #F77B05;
  font-style: normal;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .backgrounds-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 400vw;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.carousel .backgrounds-container .background {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Home/home-bg.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Home/home-bg.jpg") no-repeat fixed center center/cover;
}

.carousel .backgrounds-container .background:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Home/home-bg2.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Home/home-bg2.jpg") no-repeat fixed center center/cover;
}

.carousel .backgrounds-container .background:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Home/home-bg3.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Home/home-bg3.jpg") no-repeat fixed center center/cover;
}

.carousel .backgrounds-container .background:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Home/home-bg4.jpg") no-repeat fixed center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Home/home-bg4.jpg") no-repeat fixed center center/cover;
}

.carousel .slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 50px;
  width: 100%;
  max-width: 550px;
}

.carousel .slideshow .slideshow__button {
  border: none;
  background-color: #f77b05;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 40px;
  border-radius: 300px;
  cursor: pointer;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carousel .slideshow .slideshow__button:hover {
  background-color: #C82D0B;
}

.carousel .slideshow .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 240px;
}

.carousel .slideshow .list .list__item {
  background-color: #F77B05;
  width: 30px;
  height: 30px;
  border-radius: 300px;
  cursor: pointer;
}

.carousel .slideshow .list .list__item.active {
  background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 1226px) {
  .carousel .slideshow {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
  .carousel .slideshow {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .carousel .slideshow .slideshow__button {
    display: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 550px;
}

.form .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 0;
  width: 100%;
}

.form .section .form__label {
  color: #FFFFFF;
  font-weight: 700;
}

.form .section .form__input {
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F7FA;
  border: none;
  height: 50px;
}

.form .section .form__text-area {
  border-radius: 10px;
  resize: none;
  outline: none;
  padding: 10px;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #F5F7FA;
  height: 150px;
}

.form .form__button {
  border: none;
  background-color: #F77B05;
  border-radius: 10px;
  height: 50px;
  width: 50%;
  color: #FFFFFF;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.form .form__button:hover {
  background-color: #C82D0B;
}

.table {
  background-color: #FFFFFF;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table .tooltip {
  position: absolute;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242A35;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 21px;
  display: none;
}

.table .table-head {
  background-color: #0F141C;
  border-bottom: 10px solid #F77B05;
  color: #FFFFFF;
}

.table .table-head .table-head-cell {
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.table .table-body .table-body-left {
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #0F141C;
  border-right: 10px solid #F77B05;
}

.table .table-body .table-body-left:hover {
  background-color: #C92D0B;
  cursor: pointer;
}

.table .table-body .table-body-left:hover .tooltip {
  display: block;
}

.table .table-body .table-body-cell {
  border: 1px solid #242A35;
}

.table .table-body .table-body-cell:hover .tooltip {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .table {
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: block;
    overflow-x: auto;
  }
  .table .table-body .table-body-cell:hover .tooltip {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */