@import './sections/welcome';
@import './sections/activities';
@import './sections/plans';
@import './sections/contact';

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	.scroll {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		z-index: -1;
	}
	.complementary {
		background: rgb(35, 41, 53);
		background: linear-gradient(180deg,rgba(35, 41, 53, 1) 0%,rgba(31, 32, 37, 1) 100%);
		width: 100%;
		height: 100%;
	}
}
